/* Tabs */
.up-tabs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 6px;
}

.up-tab {
  font-size: 14px;
  color: white;
  font-weight: 400;
  cursor: pointer;
  border: 2px solid #102F44;
  border-radius: 8px;
  padding: 6px 13px 8px;
  background-color: transparent;
}

.up-tab.active {
  background: #0F2A3B;
}